$pageWidth: 1130px;
// $pageWidth: 750px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1200px;
$sidePanelWidth: 380px;
$leftSidePanelWidth: 0px;
$rightSidePanelWidth: 380px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + $leftSidePanelWidth + $rightSidePanelWidth;
// $fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
